<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GroupDocs.AssemblyExamples.ProjectBusinessObjects.Properties.Settings.OrderingSystemConnectionString"
            connectionString="Data Source=atirtahir;Initial Catalog=OrderingSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>